# Gradleのキャッシュディレクトリ（プロジェクト固有）
.gradle/

# Gradle成果物
build/

# IDEA系の設定
.idea
*.iml

# OS・その他一時ファイル
*.log
.DS_Store

# VSCode
.vscode

# Gradle Wrapperのjarファイルは除外しない（明示的に含める）
!gradle/wrapper/gradle-wrapper.jar
